#titulo
{
    color: blue;
    transition-duration: 5s;
    text-shadow: 2px 2px 10px black;
    font-family: sans-serif;
}

#p1
{
   
    transition-duration: 5s;
    color: black;
    text-shadow: 2px 2px 10px greenyellow;
    font-family: sans-serif;
}

#p2
{
   background-color: blueviolet;
   width: 72%;

    transition-duration: 5s;
    webkit-text-fill-color: white;
        
    font-family: sans-serif;
}

#p2 #hiper
{
    transition-duration: 2s;
    color: white;
    font-family: sans-serif;
}
